<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List Popular Languages for Data Science
* List Commonly Used Libraries for Data Science
* List Open-Source, Development Environments
* Show Sample Arithmetic Operations

<h2>Author</h2>
Miguel Guillen

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
1. Pandas
1. Matplotlib
1. SciPy

|Data Science Tools|
| ------ |
|Jupyter|
|RStudio|
|Spyder|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335